extends layout

block content
  textarea#search(placeholder="Enter email text")
  div#loader(style="display:none;")
  h1#totalScore
  p#results
  include template.html

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")  
  script(src="/javascripts/main.js")
  script(src="/javascripts/justgage.js")
  script(src="/javascripts/raphael-2.1.4.min.js")
